<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Roshambo Tournament 2</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<div id="rps">
		<div id="playboard">
			<div class="enemyplayerside">
				<div class="handsdeck">
					<div v-bind:type="hand.name" class="hand top" v-for="hand in enemyPlayer.hands" v-bind:rotate="randomRotationDegree()">
						<div class="title-section">
							<p class="specialText">{{hand.name}}</p>
						</div>
						<div class="icon-section">
							<div class="icon">

							</div>
						</div>
						<div class="information-section">
						</div>
					</div>
				</div>
				<div class="spelldeck">
			
				</div>
			</div>
			<div class="board-mid">

				<div class="playingField">
					<div class="thisPlayerShowdown">
						<p class="specialText">
							You played:
						</p>
						<div id="myHandName">
							<div v-if="myHandName != ''" v-bind:type="myHandName" class="hand top">
								<div class="title-section">
									<p class="specialText">{{myHandName}}</p>
								</div>
								<div class="icon-section">
									<div class="icon">
		
									</div>
								</div>
								<div class="information-section">
								</div>
							</div>
						</div>
					</div>
					<div class="resultShowdown">
						<p class="specialText">
							Result of this hand:
						</p>
						<div class="showdown-box">
							<p class="specialText" id="handResult">
								{{handResult(myHandName, otherHandName)}}
							</p>
							<p  class="specialText" v-if="otherHasChosen && otherHandName === ''">The other player has chosen a hand, it will be shown once you choose your hand</p>
						</div>
					</div>
					<div class="enemyPlayerShowdown">
						<p class="specialText">
							Other played:
						</p>
						<div id="otherHandName">
							<div v-if="otherHandName != ''" v-bind:type="otherHandName" class="hand top">
								<div class="title-section">
									<p class="specialText">{{otherHandName}}</p>
								</div>
								<div class="icon-section">
									<div class="icon">
		
									</div>
								</div>
								<div class="information-section">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="thisplayerside">
				<div class="handsdeck">
					<div v-bind:type="hand.name" class="hand bottom" v-bind:id="'handButton_'+hand.name" v-bind:disabled="myHandName !== ''" v-bind:title="handButtonTooltip(hand)" @click="playHand(hand.name, handIndex)" v-for="(hand, handIndex) in thisPlayer.hands"  v-bind:rotate="randomRotationDegree()">
						<div class="title-section">
							<p class="specialText">{{hand.name}}</p>
						</div>
						<div class="icon-section">
							<div class="icon">
							
							</div>
						</div>
						<div class="information-section">
							
						</div>
					</div>
				</div>
				<div class="spelldeck">
			
				</div>
			</div>
		</div>
		<div class="information-pane">
			<div class="toolbar">				
				<div class="controls" v-if="username !== '' && otherUsername !== ''">
					<a href="#" data-icon="♚" type="button" v-if="myScore === maxScore || otherScore === maxScore" @click="newGame()" class="button orange shield glossy">New Game</a>
				</div>
			</div>
			<div class="player-info">
				<div class="player-container">
					<p>
						You are:
					</p>
					<p class="userName">
						{{username}}
					</p>
				</div>
				<div class="enemyplayer-container">
					<p>
						Playing against:
					</p>
					<p class="userName">
						{{otherUsername}}
					</p>
				</div>
				<div class="score-container">
					<p>
						Score:
					</p>
					<p id="score">
						{{myScore}} - {{otherScore}}
					</p>
				</div>
			</div>

			<div class="history">
				<p v-for="(playedHand, index) in playedHands">
					Round {{index + 1}}: {{handResult(playedHand.myHandName, playedHand.otherHandName)}}
				</p>
			</div>
			<div class="lobbyTitle">
				Other players:
			</div>
			<div class="lobby">
				<div class="otherUser" v-for="otherUser in otherUsers">
					{{otherUser.name}}
				</div>
			</div>
		</div>
	</div>

	<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script src="shared/logic.js"></script>
	<script src="index.js"></script>
</body>
</html>

<audio controls loop preload="auto" id="background-music">
	<source src="media/Gran Batalla.mp3" type="audio/mpeg">
</audio>
<audio controls preload="auto" id="scissors-sound">
	<source src="media/scissors.mp3" type="audio/mpeg">
</audio>
<audio controls preload="auto" id="rock-sound">
	<source src="media/rock.mp3" type="audio/mpeg">
</audio>
<audio controls preload="auto" id="paper-sound">
	<source src="media/paper.mp3" type="audio/mpeg">
</audio>
<audio controls preload="auto" id="spock-sound">
	<source src="media/spock.mp3" type="audio/mpeg">
</audio>
<audio controls preload="auto" id="lizard-sound">
	<source src="media/lizard.mp3" type="audio/mpeg">
</audio>

<audio controls preload="auto" id="shuffling-sound">
	<source src="media/shuffling.mp3" type="audio/mpeg">
</audio>
<audio controls preload="auto" id="carddeal-sound">
	<source src="media/carddeal.wav" type="audio/wav">
</audio>