<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Roshambo Tournament 2</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<div id="rps">
		<div class="popup" v-if="ui.messageToUser != ''">
			<div class="prompt">
				<div class="message">
					<p class="specialText">{{ui.messageToUser}}</p>
				</div>
				<div class="buttons">
					<a href="#" data-icon="♚" type="button" class="button green shield glossy" @click="ui.messageToUser = ''">Okay</a>
				</div>
			</div>
		</div>
		<div class="popup" v-if="ui.promptMessage != ''">
			<div class="prompt">
				<div class="message">
					<p class="specialText">{{ui.promptMessage}}</p>
				</div>
				<div class="inputs">
					<p class="specialText">Your name is: {{ui.pickedUserName}}</p>
					<input v-model="ui.pickedUserName" type="text" id="username" />
				</div>
				<div class="buttons">
					<a href="#" data-icon="♚" type="button" class="button green shield glossy" @click="userPickedAName()">Okay</a>
				</div>
			</div>
		</div>

		<div id="playboard">
			<div class="enemyplayerside">
				<div class="handsdeck">
					<div v-bind:type="hand.name" v-bind:is-frozen="hand.freeze > 1" v-bind:rotate="hand.rotation" v-if="hand.health > 0 && !gameOver" class="hand top" v-for="hand in enemyPlayer.hands" v-on:drop.prevent="onDrop" v-on:dragover="onDragOver($event, true)">
						<div class="title-section">
							<p class="specialText">{{hand.name}}</p>
						</div>
						<div class="icon-section">
							<div class="icon">

							</div>
						</div>
						<div class="information-section">
							<div class="health">
								<i class="fas fa-heart"></i>
								<p class="specialText">
									{{hand.health}}
								</p>
							</div>
							<div class="freeze">
								<i class="fas fa-snowflake"></i>
								<p class="specialText">
									{{hand.freeze/2}}
								</p>
							</div>
							<div class="damage-info">
								<p v-for="handResult in handPrototypes[hand.name].result">
									{{handResult.damage}} damage to {{handResult.name}}
								</p>
							</div>
						</div>
						<div class="towel" v-if="myTowelTarget === hand.name && myTowelOnEnemy">
							<div class="towel-twirl-left">

							</div>
							<div class="towel-twirl-right">

							</div>
							<div class="towel-start">

							</div>
							<div class="emblem">
								<i v-bind:class="myTowelEmblemIcon"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="spelldeck">
					<div class="towel" v-if="!gameOver" v-for="towel in enemyPlayer.towels" v-bind:type="towel.name">
						<div class="towel-twirl-left">

						</div>
						<div class="towel-twirl-right">

						</div>
						<div class="towel-start">

						</div>
						<div class="emblem">
							<i v-bind:class="towel.emblemIcon"></i>
						</div>
						<div class="explanation">
							<h4>
								{{towel.title}}
							</h4>
							<p>
								{{towel.description}}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="board-mid">
				<div class="playingField">
					<div class="thisPlayerShowdown">
						<p class="specialText" v-if="thisUserIsPlaying">
							You played:
						</p>
						<p class="specialText" v-if="!thisUserIsPlaying">
							{{player1Name}} played:
						</p>
						<div id="myHandName">
							<div v-if="myHandName != ''" v-bind:type="myHandName" class="hand top showdown-hand">
								<div class="title-section">
									<p class="specialText">{{myHandName}}</p>
								</div>
								<div class="icon-section">
									<div class="icon">
		
									</div>
								</div>
								<div class="information-section">
									<div class="health">
										<i class="fas fa-heart"></i>
										<p class="specialText">
											{{showdownUI.thisPlayerDamageTaken}}
										</p>
									</div>
								</div>
							</div>
						</div>	
						<div id="myTowel">
							<div class="towel showInner" v-if="mySelectedTowel != '' && showdownUI.showTowels" v-bind:type="mySelectedTowel.name">
								<div class="towel-twirl-left">
		
								</div>
								<div class="towel-twirl-right">
		
								</div>
								<div class="towel-start">
		
								</div>
								<div class="emblem">
									<i v-bind:class="mySelectedTowel.emblemIcon"></i>
								</div>
								<div class="explanation">
									<h4>
										{{mySelectedTowel.title}}
									</h4>
									<p>
										{{mySelectedTowel.description}}
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="resultShowdown">
						<p class="specialText">
							Result of this hand:
						</p>
						<div class="showdown-box">
							<p class="specialText" id="handResult">
								{{handResult(myHandName, otherHandName)}}
							</p>
							<p  class="specialText" v-if="otherHasChosen && otherHandName === '' && thisUserIsPlaying">The other player has chosen a hand, it will be shown once you choose your hand</p>
							<p  class="specialText" v-if="otherHasChosen && otherHandName === '' && !thisUserIsPlaying">One player has chosen a hand, it will be shown once the other player has chosen as well</p>
						</div>
					</div>
					<div class="enemyPlayerShowdown">
						<p class="specialText">
							{{player2Name}} played:
						</p>
						<div id="otherHandName">
							<div v-if="otherHandName != ''" v-bind:type="otherHandName" class="hand top">
								<div class="title-section">
									<p class="specialText">{{otherHandName}}</p>
								</div>
								<div class="icon-section">
									<div class="icon">
		
									</div>
								</div>
								<div class="information-section">
									<div class="health">
										<i class="fas fa-heart"></i>
										<p class="specialText">
											{{showdownUI.enemyPlayerDamageTaken}}
										</p>
									</div>
								</div>	
							</div>
							<div id="otherTowel">
								<div class="towel showInner" v-if="otherSelectedTowel != '' && showdownUI.showTowels" v-bind:type="otherSelectedTowel.name">
									<div class="towel-twirl-left">
			
									</div>
									<div class="towel-twirl-right">
			
									</div>
									<div class="towel-start">
			
									</div>
									<div class="emblem">
										<i v-bind:class="otherSelectedTowel.emblemIcon"></i>
									</div>
									<div class="explanation">
										<h4>
											{{otherSelectedTowel.title}}
										</h4>
										<p>
											{{otherSelectedTowel.description}}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="thisplayerside">
				<div class="handsdeck">
					<div v-bind:type="hand.name" v-bind:is-frozen="hand.freeze > 1" v-bind:is-selected="selectedCard(hand.name)" v-if="hand.health > 0 && !gameOver" class="hand bottom" v-bind:rotate="hand.rotation" v-bind:id="'handButton_'+hand.name" v-bind:disabled="myHandName !== ''" @click="playHand(hand.name)" v-for="hand in thisPlayer.hands" v-on:drop.prevent="onDrop" v-on:dragover="onDragOver($event, false)">
						<div class="title-section">
							<p class="specialText">{{hand.name}}</p>
						</div>
						<div class="icon-section">
							<div class="icon">
							
							</div>
						</div>
						<div class="information-section">
							<div class="health">
								<i class="fas fa-heart"></i>
								<p class="specialText">
									{{hand.health}}
								</p>
							</div>
							<div class="freeze">
								<i class="fas fa-snowflake"></i>
								<p class="specialText">
									{{hand.freeze/2}}
								</p>
							</div>
							<div class="damage-info">
								<p v-for="handResult in handPrototypes[hand.name].result">
									{{handResult.damage}} damage to {{handResult.name}}
								</p>
							</div>
						</div>
						<div class="towel" v-if="myTowelTarget === hand.name && !myTowelOnEnemy">
							<div class="towel-twirl-left">

							</div>
							<div class="towel-twirl-right">

							</div>
							<div class="towel-start">

							</div>
							<div class="emblem">
								<i v-bind:class="myTowelEmblemIcon"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="spelldeck">
					<div class="towel" v-if="!gameOver" v-for="(towel, towelIndex) in thisPlayer.towels" v-bind:type="towel.name"  v-bind:id="'towel'+towelIndex" draggable="true" v-on:dragstart="onDragStart">
						<div class="towel-twirl-left">

						</div>
						<div class="towel-twirl-right">

						</div>
						<div class="towel-start">

						</div>
						<div class="emblem">
							<i v-bind:class="towel.emblemIcon"></i>
						</div>
						<div class="explanation">
							<h4>
								{{towel.title}}
							</h4>
							<p>
								{{towel.description}}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="information-pane">
			<div class="toolbar">
				<div class="controls">
					<!-- <a href="#" data-icon="♚" type="button" v-if="!gameInProgress" class="button orange shield glossy">New Tournament</a> -->
					<a href="#" data-icon="♚" type="button" v-if="thisUserIsPlaying && gameInProgress && gameOver" class="button orange shield glossy" @click="endGame">
						End Game
					</a>
					<a href="#" data-icon="♚" type="button" class="button orange shield glossy" @click="toggleMusic()">
						Music
						<span v-if="ui.musicOn">off</span>
						<span v-else>on</span>
					</a>
				</div>
			</div>
			<div class="player-info">
				<div class="player-container">
					<div class="avatar">

					</div>
					<p class="userName specialText">
						{{player1Name}}
					</p>
				</div>
				<div class="versus specialText">
					VS
				</div>
				<div class="enemyplayer-container">
					<div class="avatar">
						
					</div>
					<p class="userName specialText">
						{{player2Name}}
					</p>
				</div>
			</div>

			<div class="history">
				<p class="specialText">
					Moves this game:
				</p>
				<div class="history-overview">
					<p v-for="(playedHand, index) in playedHands">
						Round {{index + 1}}: {{handResult(playedHand.myHandName, playedHand.otherHandName)}}<span v-if="playedHand.myTowel">, also {{player1Name}} used {{playedHand.myTowel}} on {{playedHand.myTowelTarget}}</span><span v-if="playedHand.otherTowel">, also {{player2Name}} used {{playedHand.otherTowel}} on {{playedHand.otherTowelTarget}}</span>
					</p>
				</div>
			</div>
			<div class="lobbyTitle">
				<p class="specialText">
					<span v-bind:class="{ selected: ui.playerUI === 'lobby' }" @click="lobbySwitch('lobby')">Lobby</span> / 
					<span v-bind:class="{ selected: ui.playerUI === 'flamebox' }" @click="lobbySwitch('flamebox')">
						flamebox: 
						<span id="new-messages-counter" v-show="newMessages > 0">({{newMessages}})</span>
					</span>
				</p>
			</div>
			<div class="lobby" v-show="ui.playerUI === 'lobby'">
				<ul class="users-overview">
					<li class="otherUser" v-for="otherUser in otherUsers">
						{{otherUser.name}}
						<span v-if="!gameInProgress && challengedBy !== otherUser.name" @click="challengeUser(otherUser.name)" title="Challenge this player">
							<i class="fas fa-crosshairs"></i>
						</span>

						<div class="popup" v-if="!gameInProgress && challengedBy === otherUser.name">
							<div class="prompt">
								<div class="message">
									<p class="specialText">{{otherUser.name}} challenges you for a game</p>
								</div>
								<div class="buttons">
									<a href="#" data-icon="♚" type="button" class="button green shield glossy" @click="acceptChallenge()">Accept challenge</a>
									<a href="#" data-icon="♚" type="button" class="button orange shield glossy" @click="rejectChallenge()">Reject challenge</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="chat" v-show="ui.playerUI === 'flamebox'">
				<ul class="chat-messages">
					<li class="chat-message" v-for="chatMessage in chatMessages">
						{{chatMessage}}
					</li>
				</ul>
				<div class="chat-inputs">
					<input type="text" id="chatMessageInput" v-model.trim="chatMessage" @keyup.enter="sendChatMessage()" autofocus>
				</div>
			</div>
		</div>
	</div>
	
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script src="shared/logic.js"></script>
	<script src="index.js"></script>
</body>
</html>

<audio controls loop preload="auto" id="background-music">
	<source src="media/Gran Batalla.mp3" type="audio/mpeg">
</audio>
<audio controls preload="auto" id="scissors-sound">
	<source src="media/scissors.mp3" type="audio/mpeg">
</audio>
<audio controls preload="auto" id="rock-sound">
	<source src="media/rock.mp3" type="audio/mpeg">
</audio>
<audio controls preload="auto" id="paper-sound">
	<source src="media/paper.mp3" type="audio/mpeg">
</audio>
<audio controls preload="auto" id="spock-sound">
	<source src="media/spock.mp3" type="audio/mpeg">
</audio>
<audio controls preload="auto" id="lizard-sound">
	<source src="media/lizard.mp3" type="audio/mpeg">
</audio>

<audio controls preload="auto" id="shuffling-sound">
	<source src="media/shuffling.mp3" type="audio/mpeg">
</audio>
<audio controls preload="auto" id="carddeal-sound">
	<source src="media/carddeal.wav" type="audio/wav">
</audio>
<audio controls preload="auto" id="buttonclick-sound">
	<source src="media/buttonclick.mp3" type="audio/mpeg">
</audio>
<audio controls preload="auto" id="newmessage-sound">
	<source src="media/newmessagesound.mp3" type="audio/mpeg">
</audio>