.hand {
    display: flex;
    border: 1px solid #333;
    border-radius: 8px;
    height: $hand-height;
    width: $hand-width;
    flex-direction: column;
    border: 1px solid #333;
    background: #42788c; 
    transition: 0.4s all;
    box-shadow: 0 0 2px #000;
    position: absolute;
    z-index: 3;

    * {
        pointer-events: none;
    }

    @for $i from 1 through 10 {
        &[rotate="#{$i}"] {
            transform: rotate(#{$i}deg);

            &:hover {
                transform: rotate(#{$i}deg) scale(1.05);
            }
        }

        &[rotate="-#{$i}"] {
            transform: rotate(-#{$i}deg);

            &:hover {
                transform: rotate(-#{$i}deg) scale(1.05);
            }
        }
    }

    &[towelEffect="magnificentalleviation"] {
        transform: scale(1.6);

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            animation: positiveTowelEffect 8s infinite;
        }
    }

    &[towelEffect="impendingdoom"],
    &[towelEffect="unfathomabledarkness"],
    &[towelEffect="disproportionatebludgeoning"] {
        transform: scale(1.6);

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            animation: negativeTowelEffect 8s infinite;
        }
    }

    &:not(.showdown-hand) {
        animation: cardDealed 500ms;
    }

    &[is-selected="true"] {
        animation: glow 8s infinite;
    }

    &[is-frozen="true"] {
        pointer-events: none;
        animation: maintainedFreezeGlow 1s forwards; 
        filter: grayscale(60%);
    }

    &[disabled="disabled"] {
        pointer-events: none;
    }

    &[appearance="droppable"] {
        border: 2px dashed #1a18b7;
    }
    
    &[appearance="droppableAndHover"] {
        border: 2px dashed #1a18b7;
        background: #43afe2;
    }

    .bar {
        position: absolute;
        top: -30px;
        height: 43px;
        border: 2px solid #333;
        width: 38px;
        overflow: hidden;
        border-radius: 50%;
        background: #ffffff;
        box-shadow: inset 0 0 8px #000000;

        &[warning="true"]{
            .value:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(255, 35, 35, 0.7);
            }
        }

        &:after {
            content: "";
            position: absolute;
            top: 1%;
            left: 5%;
            width: 90%;
            height: 90%;
            border-radius: 50%;
            background: radial-gradient(circle at 4% 0px, #ffffff, rgba(255, 255, 255, 0) 42%);
        }

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 14px;
            text-shadow: 1px 1px 1px #000, 0 0 1px #000
        }

        &.bar-health {
            left: 5px;

            .value {
                background-size: 80px;
                background-position-y: bottom;
                background-position-x: center;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230a4700'/%3E%3Cstop offset='1' stop-color='%2300420e'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%2304ff00' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2304ff00' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
            }
        }

        &.bar-freeze {
            right: 5px;

            .value {
                background-color: #00b7ff;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.33'%3E%3Cpolygon fill='%23444' points='90%2C150 0%2C300 180%2C300'/%3E%3Cpolygon points='90%2C150 180%2C0 0%2C0'/%3E%3Cpolygon fill='%23AAA' points='270%2C150 360%2C0 180%2C0'/%3E%3Cpolygon fill='%23DDD' points='450%2C150 360%2C300 540%2C300'/%3E%3Cpolygon fill='%23999' points='450%2C150 540%2C0 360%2C0'/%3E%3Cpolygon points='630%2C150 540%2C300 720%2C300'/%3E%3Cpolygon fill='%23DDD' points='630%2C150 720%2C0 540%2C0'/%3E%3Cpolygon fill='%23444' points='810%2C150 720%2C300 900%2C300'/%3E%3Cpolygon fill='%23FFF' points='810%2C150 900%2C0 720%2C0'/%3E%3Cpolygon fill='%23DDD' points='990%2C150 900%2C300 1080%2C300'/%3E%3Cpolygon fill='%23444' points='990%2C150 1080%2C0 900%2C0'/%3E%3Cpolygon fill='%23DDD' points='90%2C450 0%2C600 180%2C600'/%3E%3Cpolygon points='90%2C450 180%2C300 0%2C300'/%3E%3Cpolygon fill='%23666' points='270%2C450 180%2C600 360%2C600'/%3E%3Cpolygon fill='%23AAA' points='270%2C450 360%2C300 180%2C300'/%3E%3Cpolygon fill='%23DDD' points='450%2C450 360%2C600 540%2C600'/%3E%3Cpolygon fill='%23999' points='450%2C450 540%2C300 360%2C300'/%3E%3Cpolygon fill='%23999' points='630%2C450 540%2C600 720%2C600'/%3E%3Cpolygon fill='%23FFF' points='630%2C450 720%2C300 540%2C300'/%3E%3Cpolygon points='810%2C450 720%2C600 900%2C600'/%3E%3Cpolygon fill='%23DDD' points='810%2C450 900%2C300 720%2C300'/%3E%3Cpolygon fill='%23AAA' points='990%2C450 900%2C600 1080%2C600'/%3E%3Cpolygon fill='%23444' points='990%2C450 1080%2C300 900%2C300'/%3E%3Cpolygon fill='%23222' points='90%2C750 0%2C900 180%2C900'/%3E%3Cpolygon points='270%2C750 180%2C900 360%2C900'/%3E%3Cpolygon fill='%23DDD' points='270%2C750 360%2C600 180%2C600'/%3E%3Cpolygon points='450%2C750 540%2C600 360%2C600'/%3E%3Cpolygon points='630%2C750 540%2C900 720%2C900'/%3E%3Cpolygon fill='%23444' points='630%2C750 720%2C600 540%2C600'/%3E%3Cpolygon fill='%23AAA' points='810%2C750 720%2C900 900%2C900'/%3E%3Cpolygon fill='%23666' points='810%2C750 900%2C600 720%2C600'/%3E%3Cpolygon fill='%23999' points='990%2C750 900%2C900 1080%2C900'/%3E%3Cpolygon fill='%23999' points='180%2C0 90%2C150 270%2C150'/%3E%3Cpolygon fill='%23444' points='360%2C0 270%2C150 450%2C150'/%3E%3Cpolygon fill='%23FFF' points='540%2C0 450%2C150 630%2C150'/%3E%3Cpolygon points='900%2C0 810%2C150 990%2C150'/%3E%3Cpolygon fill='%23222' points='0%2C300 -90%2C450 90%2C450'/%3E%3Cpolygon fill='%23FFF' points='0%2C300 90%2C150 -90%2C150'/%3E%3Cpolygon fill='%23FFF' points='180%2C300 90%2C450 270%2C450'/%3E%3Cpolygon fill='%23666' points='180%2C300 270%2C150 90%2C150'/%3E%3Cpolygon fill='%23222' points='360%2C300 270%2C450 450%2C450'/%3E%3Cpolygon fill='%23FFF' points='360%2C300 450%2C150 270%2C150'/%3E%3Cpolygon fill='%23444' points='540%2C300 450%2C450 630%2C450'/%3E%3Cpolygon fill='%23222' points='540%2C300 630%2C150 450%2C150'/%3E%3Cpolygon fill='%23AAA' points='720%2C300 630%2C450 810%2C450'/%3E%3Cpolygon fill='%23666' points='720%2C300 810%2C150 630%2C150'/%3E%3Cpolygon fill='%23FFF' points='900%2C300 810%2C450 990%2C450'/%3E%3Cpolygon fill='%23999' points='900%2C300 990%2C150 810%2C150'/%3E%3Cpolygon points='0%2C600 -90%2C750 90%2C750'/%3E%3Cpolygon fill='%23666' points='0%2C600 90%2C450 -90%2C450'/%3E%3Cpolygon fill='%23AAA' points='180%2C600 90%2C750 270%2C750'/%3E%3Cpolygon fill='%23444' points='180%2C600 270%2C450 90%2C450'/%3E%3Cpolygon fill='%23444' points='360%2C600 270%2C750 450%2C750'/%3E%3Cpolygon fill='%23999' points='360%2C600 450%2C450 270%2C450'/%3E%3Cpolygon fill='%23666' points='540%2C600 630%2C450 450%2C450'/%3E%3Cpolygon fill='%23222' points='720%2C600 630%2C750 810%2C750'/%3E%3Cpolygon fill='%23FFF' points='900%2C600 810%2C750 990%2C750'/%3E%3Cpolygon fill='%23222' points='900%2C600 990%2C450 810%2C450'/%3E%3Cpolygon fill='%23DDD' points='0%2C900 90%2C750 -90%2C750'/%3E%3Cpolygon fill='%23444' points='180%2C900 270%2C750 90%2C750'/%3E%3Cpolygon fill='%23FFF' points='360%2C900 450%2C750 270%2C750'/%3E%3Cpolygon fill='%23AAA' points='540%2C900 630%2C750 450%2C750'/%3E%3Cpolygon fill='%23FFF' points='720%2C900 810%2C750 630%2C750'/%3E%3Cpolygon fill='%23222' points='900%2C900 990%2C750 810%2C750'/%3E%3Cpolygon fill='%23222' points='1080%2C300 990%2C450 1170%2C450'/%3E%3Cpolygon fill='%23FFF' points='1080%2C300 1170%2C150 990%2C150'/%3E%3Cpolygon points='1080%2C600 990%2C750 1170%2C750'/%3E%3Cpolygon fill='%23666' points='1080%2C600 1170%2C450 990%2C450'/%3E%3Cpolygon fill='%23DDD' points='1080%2C900 1170%2C750 990%2C750'/%3E%3C/g%3E%3C/svg%3E"); 
                background-size: 65px;
            }
        }

        .value {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }

    .title-section {
        height: 30px;
        @include flexCenter;

        p {
            font-family: 'Roboto', sans-serif;
            font-size: 11px;
            line-height: 1px;
            font-weight: bold;
            letter-spacing: 2px;
            color: #ffffff;
            text-transform: uppercase;
        }
    }

	.icon-section {
        width: 100%;
        height: 100px;
        @include flexCenter;
        
        .icon {
            background-size: 90%;
            border-radius: 50%;
            background-position: center;
            width: 100px;
            height: 100px;
            background-repeat: no-repeat;
            border: 1px solid #333;
            background-color: #3f7081; 
        }
    }

    &[type=rock] .icon {
        background-image: url('media/rock.png');
    }

    &[type=spock] .icon {
        background-image: url('media/spock.png');
    }

    &[type=lizard] .icon {
        background-image: url('media/lizard.png');
    }

    &[type=scissors] .icon {
        background-image: url('media/scissors.png');
    }

    &[type=paper] .icon {
        background-image: url('media/paper.png');
    }

	.information-section {
        padding: 5px 15px;
        display: flex;
        position: relative;
  
        h2 {
            margin: 0;
            font-size: 12px;
        }

        label {
            font-size: 10px;
        }
    }

    .damage-info {
        position: absolute;
        margin-top: 4px;
        margin-left: 8px;
        opacity: 0;
        top: 15px;
        transition: 0.3s ease-out;
        
        p {    
            font-family: roboto;
            color: white;
            font-size: 10px;
            text-transform: capitalize;
        }
    }

    .towel {
        left: -10px;
        top: 35px;
        position: absolute;
        transform: scale(0.6);
    }

    &:hover {
        box-shadow: 0 0 20px #000;
        transform: scale(1.05);

        .icon {
            animation: maintainedGlow 1s forwards; 
        }

        .damage-info {
            opacity: 1;
            top: 7px;
        }
    }
}

.playingField .hand .health {
    background: #9a1c1c;
}

/* Temporary */
.board-mid .card-text {
    position: absolute;
    top: -25px;
    left: 17px;
    font-size: 16px;
    z-index: 9;
}

.board-mid .card-image {
    position: absolute;
    top: -45px;
    left: -5px;
    width: 60px;
}