@mixin pane {
    width: 100%;
    height: 200px;
    flex-direction: column;
    display: flex;

    ul {
        overflow: auto;
        background: #dedede;
        border-radius: 3px;
        border: 2px solid #333;
        padding: 10px;
        width: 100%;
        height: 100%;
        margin-top: 5px;
        margin-bottom: 0;
        display: flex;
		
		li.selected {
			color: darkred;
		}
    }
}

#new-messages-counter {
    transform: scale(0);
    animation: bounceIn 0.6s forwards;
}

.information-pane {
    flex: 0 0 350px;
    padding: 20px;
    padding-left: 0; 
    display: flex;
    flex-direction: column;

    .toolbar {
        height: 94px;
        margin-bottom: 5px;    
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .controls {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .player-info {
        margin-bottom: auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        background: rgba(0, 0, 0, 0.3);
        color: black;
        height: 200px;

        .avatar {
            width: 120px;
            height: 120px;
            position: relative;
            border-radius: 3px;
            box-shadow: 0 0 2px #000;
            border: 2px solid #333;
            background: #dedede;
            top: -5px;
            background: url('media/anonymous-avatar.jpg');
            background-size: cover;
        }

        .player-container {
            width: calc(50% - 5px);
            padding: 10px;
            margin: 14px 2px;
            position: relative;

            .avatar {
                left: 15px;
            }

            .userName,
            .avatar {
                transform: rotate(3deg);
            }
        }
 
        .enemyplayer-container {
            width: calc(50% - 5px);
            padding: 10px;
            margin: 14px 2px;

            .avatar {
                right: -5px;
            }

            .userName,
            .avatar {
                transform: rotate(-3deg);    
            }
        }

        .score-container {
            @include flexCenter;
            width: 100%;
            height: 80px;
            flex-direction: column;
            background: #d8d8d8;
        }

        .userName {
            font-size: 20px;
            margin-top: 3px;
            font-weight: bold;
            text-align: center;         
            font-size: 12px;
            padding: 10px 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            background: #9a1c1c;
            border: 1px solid #480909;
        }

        #score {
            font-weight: bold;
            font-size: 30px;
        }
    }

    .versus {
        box-shadow: 2px 2px 4px #000;
        height: 50px;
        width: 50px;
        background: #ffad33;
        border-radius: 50%;
        font-size: 20px;
        position: absolute;
        transform: rotate(-20deg);
        left: calc(50% - 25px);    
        top: 100px;
        font-weight: bold;
        color: #9a1c1c;
        border: 2px solid #9a1c1c;
        z-index: 3;
        @include flexCenter;
    }

    .history {    
        @include pane;
        height: 250px;

        .history-overview {
            margin-top: 5px;
            border: 2px solid #333;
            overflow: auto;
            background: #dedede;
            height: 250px;
            padding: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;

            p {
                font-size: 12px;
                color: #333;
                margin: 2px 0;
                font-family: roboto;
                font-weight: bold;
            }
        }
    }

    .lobbyTitle {
        margin-top: 20px;

        span {
            transition: 0.4s;
            color: #afafaf;

            &:hover {
                color: #fff;
            }

            &.selected {
                color: #fff;
            }
        }
    }

    #chatMessageInput {
        width: 100%;
    }

    .chat {
        @include pane;

        ul {
            flex-direction: column;
        }

        li {
            margin: 2px 0;
            font-size: 12px;
            list-style: none;
            font-family: roboto;
            font-weight: bold;
        }
    }

    .lobby, .games {
        @include pane;

		ul {
			flex-direction: column;
		}
		
        li {
            font-size: 14px;
            list-style: none;
            font-family: roboto;
            font-weight: bold;
            color: #333;

            svg {
                margin-left: 5px;
                transition: all 0.2s;

                &:hover {
                    color: darkred;
                }
            }
        }
    }
}