@mixin deckStyling(){
    display: flex;
    background:
radial-gradient(#3a4c3a 15%, transparent 16%) 0 0,
radial-gradient(#3a4c3a 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#366836;
background-size:16px 16px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #333;
    box-shadow: 0 0 2px #333;
}

#rps {
	width: 100%; 
	height: 100%;
    display: flex;
	flex-direction: row; 
	background: url(https://i.pinimg.com/originals/81/d3/e0/81d3e0ab582cbf6725c13ccab7d90bca.jpg);
    background-repeat: repeat-x;

	#playboard {
        height: 100%;
        width: 100%;
        padding: 20px;
		display: flex;
		flex-direction: column;
        justify-content: space-between;
    } 
    
    .playingField {
        p {
            margin-bottom: 5px;
            font-size: 20px;
        }
    }

	.enemyplayerside,
	.thisplayerside {
		height: 250px;
		justify-content: space-between;	
		display: flex;
	}

	.board-mid {
		@include flexCenter;
	}

	.handsdeck {
		width: 800px;
        @include deckStyling;
	}

	.spelldeck {
		width: 300px;
        @include deckStyling;
	}
}